<h3>In Servers Component b</h3>
<!-- Input Method 1 -->
<!-- <input
  type = "text"
  class = "form-control"
  (input) = "onUpdateServerName($event)"> -->

  <!-- Input Method 2 -->
  <label>Server Name:</label>
  <input
    type = "text"
    class = "form-control"
    [(ngModel)]="serverName">

<button class="btn btn-primary"
  [disabled]="!allowNewServer"
  (click)="onCreateServer()"
>Add Server</button>

<p> {{ serverCreationStatus }} </p>


<label>User Name:</label>
<input
  type = "text"
  class = "form-control"
  [(ngModel)]="userName"
  (input) = "onUpdateUserName()">

  <!-- This works, but below it is a better way. -->
  <!-- <button class="btn btn-primary"
    [disabled]="!allowClearUserName"
    (click)="onClearUserName()"
  >Clear Input</button> -->

  <button class="btn btn-primary"
    [disabled]="userName === ''"
    (click)="userName = ''"
  >Clear Input</button>

  <p> {{ userName }} </p>

<hr>
<!-- <button class="btn btn-primary" (click)="showSecretMsg = !showSecretMsg">Toggle Text</button> -->
<button class="btn btn-primary" (click)="onToggleMsgButtonClick()">Toggle Message</button>
<p *ngIf="showSecretMsg">Add YOUR MESSAGE here!</p>
<div *ngFor="let logEntry of secretMsgLog"
  [ngStyle]="{backgroundColor: logEntry >= 5 ? 'blue' : 'transparent'}"
  [ngClass]="{'white-text' : logEntry >= 5}"
  >{{ logEntry }}</div>
<hr>



<app-server></app-server>
<app-server></app-server>
